<!DOCTYPE html>
<html>
    <head>

        {# META TAGS #}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Test Code</title>
        
        
        <script type="text/javascript" src="{{ asset('bundles/clientfeedback/js/jquery-1.9.0.min.js') }}"  > </script>
        <script type="text/javascript" src="{{ asset('bundles/clientfeedback/js/jquery-ui-1.8.23.custom.min.js') }}"  > </script>
       
    </head>

    <body >

        <div class="wrapper">
            
            {% block start_feedback %}{% endblock %}
            
            
        </div>

    </body>

</html>